@media (max-width: 417px) {
    .feature-plus {
        column-gap: 10px;
    }

    .feature-plus-item {
        flex-basis: 45%;
    }

    .accesories {
        gap: 10px;
    }

    .field {
        width: 100%;
    }
}

/*----------PANTALLA SUPERIORES A 418px --------------------------------------------*/

@media (min-width: 418px)  {    
    .accesories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .accesories-item {
        flex-basis: 48%;
    }
}

/*----------VISUALICON DEL MENU A PARTIR DE 600px--------------------------------------------*/
@media (min-width: 600px) {
    .menu-navegation {
        display: inline;
    }
}

/*---------PANTALLA SUPERIORES A  650px ---------------------------------------------*/
@media (min-width: 650px)  {
    .accesories {
        gap: 5px;
    }

    .accesories-item {
        flex-basis: 24%;
    }

    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .draw {
        width: 50%;
    }

    .formulary {
        width: 40%;
    }

    .field {
        width: 100%;
    }
}

/*-----------PANTALLA SUPERIORES A 890px -------------------------------------------*/
@media (min-width: 890px)  {
    .product-details {
        flex-direction: row;
    }
}

/*----------PANTALLAS SUPERIORES A 1000px--------------------------------------------*/
@media (min-width: 1000px) {
    .draw {
        width: 60%;
    }

    .formulary {
        width: 35%;
    }
}