@media (max-width: 417px) {
    .feature-plus {
        column-gap: 10px;
    }

    .feature-plus-item {
        flex-basis: 45%;
    }

    .accesories {
        gap: 10px;
    }

    .field {
        width: 100%;
    }
}

/*----------PANTALLAS ENTRE 418px Y 649px--------------------------------------------*/

@media (min-width: 418px) and (max-width: 650px) {

    .product-details {
        column-gap: 20px
    }

    .accesories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .feature-plus {
        gap: 10px;
    }

    .accesories-item {
        flex-basis: 48%;
    }
}

/*----------VISUALICON DEL MENU A PARTIR DE 600px--------------------------------------------*/
@media (min-width: 600px) {
    .menu-navegation {
        display: flex;
    }
}

/*---------PANTALLAS ENTRE 650px Y 889px---------------------------------------------*/
@media (min-width: 650px) and (max-width: 890px) {
    .product-details {
        display: flex;
        column-gap: 20px;
    }

    .feature-plus {
        gap: 10px;
    }

    .accesories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }

    .accesories-item {
        flex-basis: 24%;
    }

    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .draw {
        width: 50%;
    }

    .formulary {
        width: 40%;
    }
}

/*-----------PANTALLAS ENTRE 890px Y 999px-------------------------------------------*/
@media (min-width: 890px) and (max-width: 999px) {
    .product-details {
        flex-direction: row;
        column-gap: 20px
    }

    .accesories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .accesories-item {
        flex-basis: 24%;
    }

    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .draw {
        width: 50%;
    }

    .formulary {
        width: 40%;
    }
}

/*----------PANTALLAS SUPERIORES A 1000px--------------------------------------------*/
@media (min-width: 1000px) {
    .product-details {
        flex-direction: row;
        column-gap: 20px
    }

    .accesories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .accesories-item {
        flex-basis: 24%;
    }

    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .draw {
        width: 60%;
    }

    .formulary {
        width: 35%;
    }
}