@media (max-width: 417px) {
    .feature-plus {
        column-gap: 10px;
    }

    .feature-plus-item {
        flex-basis: 45%;
    }

    .accesories {
        gap: 10px;
    }

    .field {
        width: 100%;
    }
}

/*----------PANTALLA SUPERIORES A 418px --------------------------------------------*/

@media (min-width: 418px) {
    .accesories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .accesories-item {
        flex-basis: 48%;
    }
}

/* --------- VISUALICON DEL CARRITO A PARTIR DE 480px -------------------------------- */
@media (min-width: 480px) {
    .table-total-and-cart-buttons-container{
        flex-direction: row;
        gap: 40px;
        align-items: flex-start;
        width: 100%;
    }
}

/* --------- VISUALICON DEL CARRITO A PARTIR DE 560px --------------------------------*/
@media (min-width: 500px) {
    .cart-container {
        width: 100vw;
        padding: 30px 30px 60px 30px;
    }

    .product-row {
        width: auto;
    }
}

/*----------VISUALICON DEL MENU A PARTIR DE 690px--------------------------------------------*/
@media (min-width: 690px) {
    .menu-full {
        display: inline;
    }

    .menu-hidden {
        display: none;
    }

    .navbar {
        position: static;
        height: 70px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        list-style: none;
        box-shadow: none;
        background-color: white;
        transform: none;
    }

    .nav-item a {
        text-decoration: none;
        font-size: 16px;
        color: rgb(114, 114, 114);
    }

    a.nav-link:hover {
        color: rgb(52, 51, 51);
    }

    .nav-item-btn {
        border: var(--borderLight);
        transition: all .5s;
    }

    .nav-item-btn:hover {
        background-color: rgb(239, 236, 236);
    }

    .full {
        position: absolute;
        z-index: 1001;
        top: -2px;
        left: 12px;
        padding: 2px 3px;
        font-weight: 600;
        color: rgb(24, 49, 83);
        font-size: 1rem;
        border-radius: 50%;
    }

    .product-row ul{
        font-size: 14px;
    }

    .product-row ul h2{
        font-size: 18px;
    }
    

   

/*---------PANTALLA SUPERIORES A  650px ---------------------------------------------*/
@media (min-width: 650px) {
    .accesories {
        gap: 5px;
    }

    .accesories-item {
        flex-basis: 24%;
    }

    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .draw {
        width: 50%;
    }

    .formulary {
        width: 40%;
    }

    .field {
        width: 100%;
    }
}

/*-----------PANTALLA SUPERIORES A 890px -------------------------------------------*/
@media (min-width: 890px) {
    .product-details {
        flex-direction: row;
    }

    .cart-container {
        width: 90vw;
        padding: 30px 60px 60px 60px;
    }

    .tables-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .table-products-container {
        width: 70%;
    }

    .product-row ul{
        padding: 20px 10px;
    }

    .product-row {
        height: 390px;
    }

    .table-total-and-cart-buttons-container{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 25%;
    }

    .fa-arrow-up-from-bracket{
        display: none;
    }
}
}

/*----------PANTALLAS SUPERIORES A 1000px--------------------------------------------*/
@media (min-width: 1000px) {
    .draw {
        width: 60%;
    }

    .formulary {
        width: 30%;
    }
}