/*-------------------Bloques generales------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --btnColorBlue: rgb(59, 130, 246);
    --btnColorRed: rgb(232, 12, 12);
    --btnColorYellow: rgb(255, 216, 20);
    --borderBlue: rgb(30, 64, 175) 1.5px solid;
    --borderLight: rgb(203, 203, 203) solid 1.5px;
    --borderWide: rgb(203, 203, 203) solid 2.5px;
    --borderYellow: 1.5px solid rgb(169, 148, 9);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 30px auto;
}

.small-btn {
    font-size: 0.6rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.big-btn {
    text-decoration: none;
    border-radius: 7px;
    padding: 12px;
}

.big-btn:hover {
    cursor: pointer;
}

p {
    font-size: 16px;
}

/* ---------------- HEADER - NAVEGACIÓN -------------------------*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: var(--borderLight);
    background-color: white;
    z-index: 1000;
    box-shadow: 3px 0 5px 2px rgba(127, 126, 126, 0.5);
}

.nav-container {
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1200px;
    margin: auto;
}


.logotipo {
    width: 120px;
    height: 60px;
}

.logo {
    width: 100%;
    height: 100%;
}


.menu-full {
    display: inline;
    position: relative;
    z-index: 1;
}

.menu-hidden {
    display: inline;
    font-size: 25px;
}

.navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 71px;
    left: -1000px;
    gap: 40px;
    background-color: rgba(50, 49, 49);
    padding: 30px 30px 30px 30px;
    list-style: none;
    transition: left 0.4s;
    box-shadow: 3px 0 5px 2px rgba(246, 244, 244, 0.656);
}

.navbar-show{
    left: 0px;
}

.nav-item a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

a.nav-link:hover {
    border-bottom: 2px solid #f9f9f9;
}

.nav-item-btn {
    border: var(--borderLight);
    transition: all .5s;
}

.nav-item-btn:hover {
    background-color: rgb(239, 236, 236);
}

.cart {
    position: relative;
}

.cart-img {
    width: 35px;
}

.cart-img:hover {
    cursor: pointer;
}

.full {
    position: absolute;
    z-index: 1001;
    top: -2px;
    left: 12px;
    padding: 2px 3px;
    font-weight: 600;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
}

/*-----------------PAY SECTION------------------------------*/
.offcanvas-container{
    display: flex;
    justify-content: center;
}

.offcanvas-backdrop{
    visibility: hidden;
}

.show-offcanvas-backdrop{
    visibility: visible;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    transition: all .5s ease; 
    background-color: rgba(48, 48, 48, 0.406);
}

.cart-container {
    position: fixed;
    top: -900px;
    max-width: 1400px;
    width: 100vw;
    height: 600px;
    margin-top: 70px;
    padding: 30px 30px 60px 30px;
    z-index: 999;
    transition: top .5s ease;
    border: var(--borderLight);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.show-cart-container {
    top: 0;
}

.fa-arrow-up-from-bracket{
    display: inline;
    font-size: 20px;
    align-self: flex-end;
}

.tables-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.table-products-container {
    width: 100%;
}

.table-products-container ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header-row ul{
    border-bottom: var(--borderWide);
}


.header-row ul{
    padding: 30px 20px 30px 10px;
    font-size: 14px;
    font-weight: 600;
}

.product-row ul{
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
}

.product-row ul h2{
    font-size: 15px;
}



.header-row li, .product-row li{
    width: 25%;
    text-align: center;
}

.header-row li:first-child, 
.product-row li:first-child{
    width: 35%;
    text-align: left;
}

.product-row {
    height: 250px;
    /* width: 380px; */
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px 10px 0 0;
    border-bottom: var(--borderWide);
}
 /*Estilo para barra del scroll*/

 .cart-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.product-row::-webkit-scrollbar {
    -webkit-appearance: none;   
}

.product-row::-webkit-scrollbar:vertical {
    width:7px;
}

.product-row::-webkit-scrollbar-button:increment,
.product-row::-webkit-scrollbar-button {
    display: none;
} 

.product-row::-webkit-scrollbar-thumb {
    background-color: #cfcbcb;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.product-row::-webkit-scrollbar-track {
    border-radius: 10px;  
}
 /*-----------------------------------*/

.product-row ul:nth-child(even){
    background-color: #f9f9f9;
    border-top: rgb(233, 233, 233) solid 1px;
    border-bottom: rgb(233, 233, 233) solid 1px;
}

.fa-trash-can:hover{
    cursor: pointer;
}

.table-product-ref {
    margin-top: 10px;
    font-size: 12px;
}

.count {
    padding: 10px;
    margin: 0 10px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    border: var(--borderLight);
}

.inc, .dec {
    font-size: 20px;
}

.inc:hover, .dec:hover {
    cursor: pointer;
}

.table-total-and-cart-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
}

.table-total-container {
    background-color: #f9f9f9;
    padding: 0 20px;
    width: 100%;
}

.table-total-container ul{
    list-style: none;
    padding: 0 0 10px 0;
    font-size: 12px; 
}

.table-total-container .first-ul{
    padding: 20px 0; 
    font-size: 20px;
    text-align: left;
    font-weight: 800;
}

.table-total-container .last-ul{
    padding: 20px 0; 
    border-top: var(--borderWide);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.table-total-container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-empty-cart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: var(--borderLight);
    background-color: white;
    color: #727272;
}

.btn-cart-buy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: var(--borderBlue);
    background-color: var(--btnColorBlue);
    color: rgb(255, 255, 255);
    transition: all .5s;
}

.hidden-scroll-y {
    overflow-y: hidden;
}

.hidden-scroll-x {
    overflow-x: hidden;
}

.text-cart-empty{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 0; 
}

/* ---------------- MAIN - SECTIONS ------------------------*/
/* ---------------- SECTIONS 1 -----------------------------*/
main {
    margin-top: 100px;
    background-color: white;
    transition: 0.5s;
}

.main-translate{
    transform: translateY(315px);
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px
}

.product-image {
    position: relative;
    display: inline-block;
    flex-basis: 40%;
    flex-grow: 1;
}

.product-image img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.product-image span {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px;
    background-color: rgb(34, 197, 94);
    color: rgb(255, 255, 255);
}

.image-list {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.image-list-item {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    border: var(--borderLight);
}

.image-list-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(82, 82, 82, 0.5);
}

.producto-description {
    flex-basis: 50%;
    flex-grow: 1;
}

.ofert {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--btnColorRed);
}

.product-title,
.description-text {
    margin-bottom: 15px;
}

.buy {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0 30px 0;
    column-gap: 40px;
}

.buy-btn {
    border: var(--borderBlue);
    background-color: var(--btnColorBlue);
    color: rgb(255, 255, 255);
    transition: all .5s;
}

.buy-btn:hover {
    opacity: 0.75;
    transform: scale(1.05);
}

.feature-plus {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
}

.feature-plus-item {
    flex-basis: 30%;
    display: flex;
    align-content: flex-start;
    column-gap: 10px;
}


/* ---------------- SECTIONS 2 -----------------------------*/
.accesories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}

.accesories-item {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex-basis: 100%;
    border: var(--borderLight);
    border-radius: 5px;
    padding: 10px;
    display: flex;

}

.accesories-item:hover {
    box-shadow: 3px 3px 5px 1px rgb(82, 82, 82, 0.5);
}

.accesories-item img {
    width: 100%;
}

.accesories-item h3 {
    margin: 10px 0;
}

.accesories-item p {
    margin: 20px 0 0 0;
}

.price {
    font-weight: 550;
    color: rgb(189, 9, 9);
}

.badge-new {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--btnColorBlue);
    color: rgb(255, 255, 255);
}

.badge-ofert {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--btnColorRed);
    color: rgb(255, 255, 255);
    
}

.succefull{
    visibility: hidden;
    position: absolute;
    font-weight: 600;
    color: white;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;  
    transition: all 0.5s ease;
}

.show-succefull{
    visibility: visible;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(24, 164, 24, 0.75);
    padding: 30px 0;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 
    transition: all 0.5s ease;
}

.add-cart-btn {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    background-color: var(--btnColorYellow);
}

/* ---------------- SECTIONS 3 -------------------------*/
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgba(239, 246, 255);
    padding: 30px;
    gap: 10px;
}

.draw {
    width: 100%;
}

.draw-title {
    margin-bottom: 30px;
    font-size: 30px;
}

.draw p {
    margin-bottom: 20px;
}

.formulary {
    width: 100%;
}

.formulary label {
    display: block;
    margin-bottom: 5px;
}

.field {
    display: block;
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    border: var(--borderLight);
    border-radius: 7px;
    padding-left: 5px;
}

.btn-submit {
    border: var(--borderBlue);
    background-color: var(--btnColorBlue);
    color: rgb(255, 255, 255);
    transition: all .5s;
}

.btn-submit:hover {
    opacity: 0.75;
    cursor: pointer;
}

/* ---------------- FOOTER -----------------------------*/
.footer {
    border-top: var(--borderLight);
    background-color: white;
}

.footer-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.logo-footer {
    height: 30px;
    width: 80px;
}